body {
  background: url(../images/ocean.jpg);
}
[class*="container"] {
  background: rgba(250, 250, 250, 0.6);
  text-align: center;
}
[class*="col-"] {
  color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
[class*="col-"]:hover {
  background: rgba(250, 250, 250, 0.3);
}
.navbar {
  background-color: rgba(250, 250, 250, 0.6);
}
